{% extends "main/base.html" %}

{% block content %}

<h2 class="account-heading" font-family="Roboto">Home Feed</h2>

{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
			{% if user.is_authenticated %}
            <a class="mr-2" href="{% url 'user-profile' pk=post.author.pk %}">{{ post.author }}</a>
            {% else %}
            <h5>{{ post.author }}</h5>
            {% endif %}
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.run_id %}">{{ post.title }}</a></h2>

        <p class="article-content">{{ post.content }}</p>
        <div class="row">
            <div class="col-xs-6 col-sm-4"><b>Distance: </b>{{ post.distance }} miles</div>
            <div class="col-xs-6 col-sm-4"><b>Time: </b>{{ post.time }} minutes</div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-sm-4"><b>Pace: </b>{{ post.pace }} mins/mile</div>
            <div class="col-xs-6 col-sm-4"><b>Location: </b>{{ post.location }}</div>
        </div>
        <div>
			{% if user.is_authenticated %}
				{% if post.comments.count == 0 %}
					<a href="{% url 'post-detail' pk=post.pk %}">Leave a comment</a>
				{% else %}
            		<a href="{% url 'post-detail' pk=post.pk %}">View comments</a>
				{% endif %}
			{% else %}
				<a>Sign in to comment</a>
			{% endif %}
        </div>

    </div>
</article>
{% endfor %}

{% endblock content %}