{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content  %}
  <div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ profile.user.username }}</h2>
      {% if profile_user_id == user.id %} 
				<!-- Show button if the profile's user id is the same as the logged in user's id  -->
	  		<a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'update-profile' pk=user.id %}">Edit Profile</a> 
			{% endif %}
      <p>Profile following: {{ profile.following.all }}</p>
      <p>User following: {{ user.following.all }}</p>
      {% if request.user in profile.following.all %}
        This user is followed. 
      {% endif %}
			{% if profile_user_id != user.id %} <!-- Show button if the profile's user is not the logged in user -->
				<p>{% include 'main/follow_form.html' with username=profile.user.username profile_id=profile.user.pk %}</p>
			{% endif %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-1">Email</legend>
          {{ profile.user.email }}
      </fieldset>
      <fieldset class="form-group">
          <legend class="border-bottom mb-1">Name</legend>
          {{ profile.user.first_name }} {{ profile.user.last_name }}
      </fieldset>
      <fieldset class="form-group">
          <legend class="border-bottom mb-1">Location</legend>
          {{ profile.location }}
      </fieldset>
      <fieldset class="form-group">
          <legend class="border-bottom mb-1">Bio</legend>
          {{ profile.bio }}
      </fieldset>
    </div>
  </div>
	<h1>
{% endblock content %}
