{% extends "main/base.html" %}

{% block content  %}

<style>
#Info {
    color: black;
    text-align: left;
    font-family: Roboto;
}

#Info answer {
    color: black;
    text-align: left;
    font-family: Georgia, serif;
}

#outer {
    height: 10%;
}

#inner {
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

</style>

<div class="content-section">
    <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col">
                    <h4 class="account-heading" font-family="Roboto">{{ user.profile }}</h4>
                    <h5 id="Info">Total Distance -
                        <answer>{{ user.profile.total_mileage }} miles</answer>
                    </h5>
                    <h5 id="Info">Location -
                        <answer>{{ user.profile.location }}</answer>
                    </h5>
                    <h5 id="Info">About Me -
                        <answer>{{ user.profile.bio }}</answer>
                    </h5>
                </div>
                {% if request.user.id == user.id %}
                <div align="right">
                    <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'update-profile' pk=user.id %}">Edit
                        Profile</a>
                </div>
                {% else %}
                <div align="right">
                <a class='btn btn-secondary btn-sm mt-1 mb-1'
                href="#">Follow</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-profile' pk=post.author.pk %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.run_id %}">{{ post.title }}</a></h2>

        <p class="article-content">{{ post.content }}</p>
        <div class="row">
            <div class="col-xs-6 col-sm-4"><b>Distance: </b>{{ post.distance }} miles</div>
            <div class="col-xs-6 col-sm-4"><b>Time: </b>{{ post.time }} minutes</div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-sm-4"><b>Pace: </b>{{ post.pace }} mins/mile</div>
            <div class="col-xs-6 col-sm-4"><b>Location: </b>{{ post.location }}</div>
        </div>
        <div>
            <a href="{% url 'post-detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
        </div>
    </div>
</article>
{% endfor %}

{% endblock content %}
