{% extends "main/base.html" %}


<!-- Returns all posts for now until data can e queried-->cxdzs
<form class="form-inline my-2 my-lg-0" action="{% url 'main-search' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search"
           name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% block content %}
<h1><u>Runn Search!</u></h1>
<form class="form-inline my-2 my-lg-0" action="{% url 'main-search-users' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search"
           name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div>You searched for: {{ query }} </div>
{% for Profile in object_list %}
<li>
    {{"Username: "}} {{Profile.user.username }} {{"  Name: "}} {{Profile.first_name }} {{Profile.last_name}} {{"Location: "}} {{Profile.location }}
</li>
{% endfor %}
{%if not object_list%}
<div>No matches!!! Try searching by username or first or last name</div>
{% endif%}
{% endblock content %}
