{% extends "main/base.html" %}


<!-- Returns all posts for now until data can e queried-->
{% block content %}
<h1><u>Runn Search!</u></h1>
<form class="form-inline my-2 my-lg-0" action="{% url 'main-search-users' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search By Name"
           name="hello">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search By Users</button>
</form>
<form class="form-inline my-2 my-lg-0" action="{% url 'main-search-users' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search By Location"
           name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search By Location</button>
</form>
{% endblock content %}
