{% extends "main/base.html" %}
{% block content %}
<h1><u>Runn Search!</u></h1>
<form class="form-inline my-2 my-lg-0" action="{% url 'main-search-users-location' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search"
           name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by location</button>
</form>
<div>Searching users by location </div>
<div>You searched for: <b><u>{{ query }}</u></b>  </div>
<br>

{% for Profile in object_list %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
        <h2><a class="mr-2" href="{% url 'user-profile' pk=Profile.pk %}"> {{ Profile.user.username }}</a>

        </h2>
        </div>
          <div class="row">
          <div class="col-xs-6 col-sm-4"><b>UserName: </b>{{ Profile.user.username }}</div>
          <div class="col-xs-6 col-sm-4"><b>Name: </b>{{Profile.user.first_name}}, {{Profile.user.last_name}} </div>
          <div class="col-xs-6 col-sm-4"><b>Location: </b>{{ Profile.location }}</div>
        </div>
      </div>
    </article>
<br>

{% endfor %}
{%if not object_list%}
<br>
<div><font size = "4" color = "red"><b>No matches!!! Try searching by location with correct spelling</b></font></div>
<br>
<div>If searching for someone who lives in SLO, CA just search "SLO, CA". Don't include any extra words.</div>

{% endif%}
<br>
<div>If you want to search by name return to the main search page</div>
<br>
<form class="form-inline my-2 my-lg-0" action="{% url 'main-search' %}" method="get">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Click here to return to main search page</button>
</form>
<br>
<br>
{% endblock content %}
